body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--darken-overlay, rgba(0, 0, 0, 0.7));
    backdrop-filter: var(--blur-effect, blur(25px));
}

#content-container {
    position: relative !important;
    z-index: 1;
}