@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");




@plugin "daisyui/theme" {
    name: "bark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0.005 285.823);
    --color-base-200: oklch(14% 0.005 285.823);
    --color-base-300: oklch(21% 0.006 285.885);
    --color-base-content: oklch(97% 0 0);
    --color-primary: oklch(66% 0.179 58.318);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(38% 0.176 304.987);
    --color-secondary-content: oklch(97% 0.013 17.38);
    --color-accent: oklch(83% 0.128 66.29);
    --color-accent-content: oklch(12% 0.042 264.695);
    --color-neutral: oklch(14% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(37% 0.146 265.522);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(53% 0.157 131.589);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 0.8px;
    --depth: 1;
    --noise: 0;
  }

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(27% 0.041 260.031);
    --color-primary: oklch(64% 0.222 41.116);
    --color-primary-content: oklch(98% 0.016 73.684);
    --color-secondary: oklch(35% 0.144 278.697);
    --color-secondary-content: oklch(97% 0.014 254.604);
    --color-accent: oklch(83% 0.128 66.29);
    --color-accent-content: oklch(14% 0 0);
    --color-neutral: oklch(20% 0.042 265.755);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(42% 0.199 265.638);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 0.5px;
    --depth: 1;
    --noise: 0;
  }
  
  @theme {  --font-display: "Inter", "sans-serif"; }