body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.search-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.logo {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.search-bar {
    width: 100%;
    max-width: 584px;
}
#stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 20px;
}
.story-container {
    padding: 1em;
    border: 1px solid var(--card-border-color);
    border-radius: var(--border-radius);
    background-color: var(--card-background-color);
}
@media (max-width: 992px) {
    #stories {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 576px) {
    #stories {
        grid-template-columns: 1fr;
    }
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
}

.search-bar {
    width: 100%;
    max-width: 700px;
}

/* Estilização da lista de sites */
.grid {
    display: flex;
    justify-content: space-around; /* Distribui os itens igualmente */
    flex-wrap: wrap; /* Permite que os itens quebrem a linha se necessário */
    gap: 20px;
}

.top-sites-list li {
    display: flex;
    flex-direction: column; /* Coloca o ícone e o título em uma coluna */
    align-items: center; /* Centraliza os itens no meio */
    max-width: 100px;
    text-align: center;
}

.top-sites-list img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.top-sites-list a {
    font-size: 0.9em;
    color: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch {
    display: inline-block;
    margin: 0;
}

footer.container-fluid {
    text-align: center;
    padding: 1em 0;
}

.comment-link {
    text-decoration: none;
    color: inherit;
}